@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.brand-logo {
  font-size: 1.5rem;
  color: brown;
  font-weight: bold;
}
.nav-links {
  display: flex;
  gap: 40px;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}
.main {
  height: 100%;
}
.hero {
  background-image: url("./Assests/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60%;
  width: 100%;
  position: relative;
  margin: 25px 0px;

  /*    
    display: flex; 
    align-items: center; */
}
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding: 20px;
}
.sub-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}
.sub-head-text {
  color: #03315d;
  font-size: 1rem;
  font-weight: 400;
  margin: 25px 0;
}
.sub-heading  {
  color: #03315d;
}
/* .jar-section {
  margin: 0 30px;
} */

.jar-sub-text {
  color: #03315d;
  margin: 2px 0;
  text-align: center;
}
.jar-image-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 35px;
  margin: 15px 10px;
  flex-wrap: wrap;
  width: 100%;
}
.jar-image {
  width: 100%;

  border: 1px solid #03315d;
}
.jar-text {
  color: brown;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}

.info-section {
  margin: 0 30px;
  margin-top: 70px;
}

.info-container {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.info-image {
  width: 40rem;
  text-align: center;
}
.info-text {
  color: brown;
  margin: 20px 0px;
}
.info-sub-text {
  margin: 20px 0;
  color: #03315d;
  font-size: 1rem;
}
.section_2 {
  margin-left: 50px;
}
.info-list {
  margin: 10px 0px 10px 30px;
}
.info-list li {
  line-height: 1.5rem;
}
.line {
  border-bottom: 5px solid brown;
}
.footer-container {
  /* display: flex; */
  margin: 20px 0px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5 rem;
}
.footer-links-list {
  margin: 20px 0px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 35px;
}
.footer-links {
  font-size: 1rem;
  color: #03315d;
}
.footer-text {
  margin: 20px 0px;
  line-height: 1.2rem;
  color: #03315d;
}

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: 300px;
  max-height: 0;
  overflow: hidden;
  transition: all 1 ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 100vh;
  height: 100vh;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* Media quries */

@media screen and (max-width: 1200px) {

}

@media only screen and (max-width: 793px) {
  #nav-links {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .hero {
    height: 35%;
  }
  .sub-heading  {
    font-size: 1rem;
  }
  .info-section {
    margin: 5px 0;
  }
  .info-container {
    flex-direction: column-reverse;
  }
  .container_2 {
    flex-direction: column;
  }
  .section_2 {
    margin: 0;
  }
  .info-image {
    width: 100%;
  }
  .info-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .jar-image-container {
    justify-content: center;
  }
  .footer-links {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 430px) {
  .hero {
    height: 15%;
  }
}
